{% extends "base.html" %}

{% block content %}
<h2 class="title">
  Welcome, {{ current_user.username }}</h2>


  <div class="row">
        <h3 class="title" style="margin-bottom: 20px;">Update Account</h3> </div>
        <div class="box" >
                <form method="POST" action="">
                        {{ form.hidden_tag() }}
                        
                                {{ form.username.label(class="form-control-label") }}
            
                                {% if form.username.errors %}
                                    {{ form.username(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.username.errors %}
                                           <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.username(class="form-control form-control-lg") }}
                                {% endif %}
                            
                                {{ form.email.label(class="form-control-label") }}
                                {% if form.email.errors %}
                                    {{ form.email(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.email.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.email(class="form-control form-control-lg") }}
                                {% endif %}

                                {{ form.password.label(class="form-control-label") }}
                                {% if form.password.errors %}
                                    {{ form.password(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.password.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.password(class="form-control form-control-lg") }}
                                {% endif %}
                        
                            {{ form.submit() }}
                        </div>
                    </form>

{% endblock %}