<html>
  <head>
    <title>Quad Core</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto:700,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/main.css')}}">
    <link href="https://fonts.googleapis.com/css?family=Archivo&display=swap" rel="stylesheet">  </head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
  <body>
  	<header class="container">
      <div class="row">
          <div class="col-sm-0.8 text-left">
              <div class="dropdown">
              <button class="dropbtn">Shop <i class="down"></i></button>
              <div class="dropdown-content">
                <a href="/analogue">Analogue</a>
                <a href="/digital">Digital</a>
                <a href="#">Chronography</a>
              </div>
            </div>
            </div>
            <a style="color: black" href="{{ url_for('index') }}" class="navbar-item">
                <h1 class="col-sm-3">QuadCore.com</h1>
            </a>
            <form class="col-sm-3 form-inline">
              <i class="fas fa-search" aria-hidden="true"></i>
              <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search"
                aria-label="Search">
            </form>
            
        <!-- <input class="col-sm-3" type="text" placeholder="Search..">
    	<div class="col-sm-1">
        <button type="submit">Submit</button>
      </div> -->
      
        <nav class="col-sm-4" style="display: flex;
        align-items: center;">
            
            {% if current_user.is_authenticated%}
          	<div class="dropdown">
                <button class="dropbtn">Hi, {{ current_user.username }} <i class="arrow down"></i></button>
                <div class="dropdown-content">
                    <a href="{{ url_for('account') }}">Account</a>
                    <a href="{{ url_for('orders') }}"  class="navbar-item">
                        Orders
                    </a>
                    <a href="{{ url_for('updateaddress') }}"  class="navbar-item">
                        Update Address
                    </a>
                  <a href="{{ url_for('logout') }}">Logout</a>
                </div>
              </div>
            {%else%}
            <a href="{{ url_for('login') }}" class="navbar-item nav">
                Login  
            </a>
            <a href="{{ url_for('signup') }}" class="navbar-item nav">
                Signup  
            </a>
            {%endif%}
            {% if current_user.is_authenticated%}
            <a href="{{ url_for('cart') }}"  class="navbar-item">
              <img style="width: 30px; height:20px;" src="/static/images/cart.png"> ({{noOfItem}}) 
            {%else%}
            <a href="{{ url_for('cart') }}"  class="navbar-item">
                <img style="width: 30px; height:20px;" src="/static/images/cart.png"> ({{noOfItem}}) 
        
            {%endif%}
            <a href="{{ url_for('wishlist') }}"  class="navbar-item">
                Wishlist</a>
          </nav>
      </div>
    </header>

    <section class="jumbotron">
      <div class="container">
        <div class="row text-center">
            
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
             {% block content %}
                {% endblock %}
        </div>
      </div>
    </section>

	<footer class="container">
  	<div class="row">
    <p class="col-sm-7">Quadcore.com</p>
    <ul class="col-sm-5 text-right">
      <li class="col-sm-1">
        <img src="https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-4/facebook-grey.svg">
      </li>
      <li class="col-sm-1">
        <img src="https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-4/twitter-grey.svg">
      </li>
      <li class="col-sm-1">
        <img src="https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-4/instagram-grey.svg">
      </li>
      
    </ul>
   	</div>
	</footer>
  </body>
</html>
