<!-- templates/index.html -->

{% extends "base.html" %}

{% block content %}
</div>
<div class="row">
    <div class="col-sm-12 align-center">
        <img class="col-sm-6" style="max-width: 300px; align-items: center;
        max-height: 600px" src="{{product[3]}}">
        <div class="col-sm-6" style="font-size: 2rem;">
        <p  >{{product[1]}}</p>
        <p>  Price: Rs{{product[2]}}</p>
            <a href="/addToCart?productId={{product[0]}}"> Add to Cart </a>
            <a href="/MovetoWishlist?productId={{product[0]}}"> Add to Wishlist </a>
        
       <table> <div>brand: {{product[4]}}</div>
        <div> family: {{product[5]}}</div>
 <div>model: {{product[6]}}</div>
  <div>produced: {{product[7]}}</div>
  <div>materials: {{product[8]}}</div>
   <div> glass: {{product[9]}}</div>
   <div>diameter: {{product[10]}}</div>
    <div>height: {{product[11]}}</div>
    <div>wr: {{product[12]}}</div>
     <div>color: {{product[13]}}</div>
     <div>finish: {{product[14]}}</div>
      <div> type: {{product[15]}}</div>
      <div> display: {{product[16]}}</div>
       <div>chronograph: {{product[17]}}</div>
       <div>acoustic: {{product[18]}}</div>
<div>additional: {{product[19]}}</div>
 <div> description: {{product[20]}}</div></table>
    </div></div>
</div>

{% endblock %}

