<!-- templates/index.html -->

{% extends "base.html" %}

{% block content %}
</div>
<div class="row">
    <div class="col-sm-12 align-center">
        <img class="col-sm-6" style="max-width: 300px; align-items: center;
        max-height: 600px" src="{{product[3]}}">
        <div class="col-sm-6" style="font-size: 2rem;">
        <p class=" " style="font-size: 30px; font-weight: 300">{{product[1]}}</p>
        <p class=" " style="font-size: 20px;"> Price: Rs {{product[2]}}</p>
        <div> <a href="/addToCart?productId={{product[0]}}"> Add to Cart </a></div>
           <div><a href="/MovetoWishlist?productId={{product[0]}}"> Add to Wishlist </a></div>
        
       <table ><div class=" " style="margin-bottom: 15px; margin-top:15px;"> Description: {{product[20]}}</div>
         <div>Brand: {{product[4]}}</div>
        <div> Family: {{product[5]}}</div>
 <div>Model: {{product[6]}}</div>
  <div>Produced: {{product[7]}}</div>
  <div>Materials: {{product[8]}}</div>
   <div> Glass: {{product[9]}}</div>
   <div>Diameter: {{product[10]}}</div>
    <div>Height: {{product[11]}}</div>
    <div>Wr: {{product[12]}}</div>
     <div>Color: {{product[13]}}</div>
     <div>Finish: {{product[14]}}</div>
      <div> Type: {{product[15]}}</div>
      <div> Display: {{product[16]}}</div>
       <div>Chronograph: {{product[17]}}</div>
       <div>Acoustic: {{product[18]}}</div>
<div>Additional: {{product[19]}}</div>
 </table>
    </div></div>
</div>

{% endblock %}

